
.vs/TelerikMvc_Demo/config/applicationhost.config
.vs/TelerikMvc_Demo/v16/.suo
TelerikMvcApp/bin/Antlr3.Runtime.dll
TelerikMvcApp/bin/Antlr3.Runtime.pdb
TelerikMvcApp/bin/ar-AE/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-BH/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-DJ/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-DZ/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-EG/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-ER/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-IL/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-IQ/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-JO/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-KM/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-KW/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-LB/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-LY/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-MA/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-MR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-OM/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-PS/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-QA/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-SA/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-SD/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-SO/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-SS/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-SY/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-TD/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-TN/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ar-YE/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/bg-BG/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/cs-CZ/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/da-DK/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/de-AT/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/de-CH/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/de-DE/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/de-LI/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/el-GR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/en-AU/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/en-CA/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/en-GB/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-AR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-BO/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-CL/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-CO/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-CR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-DO/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-EC/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-ES/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-GT/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-HN/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-MX/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-NI/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-PA/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-PE/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-PR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-PY/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-US/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-UY/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/es-VE/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fa-IR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fi-FI/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-BE/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-CA/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-CD/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-CH/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-CI/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-CM/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-FR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-HT/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-LU/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-MA/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-MC/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-ML/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/fr-SN/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/he-IL/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/hr-HR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/hu-HU/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/hy-AM/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/it-CH/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/it-IT/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ja-JP/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/Kendo.Mvc.dll
TelerikMvcApp/bin/Kendo.Mvc.xml
TelerikMvcApp/bin/Microsoft.Web.Helpers.dll
TelerikMvcApp/bin/Microsoft.Web.Infrastructure.dll
TelerikMvcApp/bin/mk-MK/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/nb-NO/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/Newtonsoft.Json.dll
TelerikMvcApp/bin/nl-BE/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/nl-NL/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/pl-PL/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/pt-BR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/pt-PT/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ro-RO/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/ru-RU/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/sk-SK/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/sq-AL/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/sr-Latn-RS/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/sv-SE/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/System.Buffers.dll
TelerikMvcApp/bin/System.Diagnostics.DiagnosticSource.dll
TelerikMvcApp/bin/System.Memory.dll
TelerikMvcApp/bin/System.Numerics.Vectors.dll
TelerikMvcApp/bin/System.Runtime.CompilerServices.Unsafe.dll
TelerikMvcApp/bin/System.ValueTuple.dll
TelerikMvcApp/bin/System.Web.Helpers.dll
TelerikMvcApp/bin/System.Web.Mvc.dll
TelerikMvcApp/bin/System.Web.Optimization.dll
TelerikMvcApp/bin/System.Web.Razor.dll
TelerikMvcApp/bin/System.Web.WebPages.Deployment.dll
TelerikMvcApp/bin/System.Web.WebPages.dll
TelerikMvcApp/bin/System.Web.WebPages.Razor.dll
TelerikMvcApp/bin/Telerik.FontIcons.dll
TelerikMvcApp/bin/Telerik.SvgIcons.dll
TelerikMvcApp/bin/TelerikMvcApp.dll
TelerikMvcApp/bin/TelerikMvcApp.dll.config
TelerikMvcApp/bin/TelerikMvcApp.pdb
TelerikMvcApp/bin/tr-TR/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/uk-UA/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/vi-VN/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/WebGrease.dll
TelerikMvcApp/bin/WebMatrix.Data.dll
TelerikMvcApp/bin/WebMatrix.WebData.dll
TelerikMvcApp/bin/zh-CN/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/zh-HK/Kendo.Mvc.resources.dll
TelerikMvcApp/bin/zh-TW/Kendo.Mvc.resources.dll
TelerikMvcApp/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TelerikMvcApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TelerikMvcApp/obj/Debug/TelerikMvcApp.csproj.AssemblyReference.cache
TelerikMvcApp/obj/Debug/TelerikMvcApp.csproj.CopyComplete
TelerikMvcApp/obj/Debug/TelerikMvcApp.csproj.CoreCompileInputs.cache
TelerikMvcApp/obj/Debug/TelerikMvcApp.csproj.FileListAbsolute.txt
TelerikMvcApp/obj/Debug/TelerikMvcApp.dll
TelerikMvcApp/obj/Debug/TelerikMvcApp.pdb
TelerikMvcApp/obj/project.assets.json
TelerikMvcApp/obj/project.nuget.cache
TelerikMvcApp/obj/TelerikMvcApp.csproj.nuget.dgspec.json
TelerikMvcApp/obj/TelerikMvcApp.csproj.nuget.g.props
TelerikMvcApp/obj/TelerikMvcApp.csproj.nuget.g.targets
DAL/obj/Debug/DAL.pdb
BLL/bin/Debug/BLL.dll
BLL/bin/Debug/BLL.pdb
BLL/bin/Debug/DAL.dll
BLL/bin/Debug/DAL.pdb
BLL/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
BLL/obj/Debug/BLL.csproj.AssemblyReference.cache
BLL/obj/Debug/BLL.csproj.CopyComplete
BLL/obj/Debug/BLL.csproj.CoreCompileInputs.cache
BLL/obj/Debug/BLL.csproj.FileListAbsolute.txt
BLL/obj/Debug/BLL.dll
BLL/obj/Debug/BLL.pdb
BLL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
DAL/bin/Debug/DAL.dll
DAL/bin/Debug/DAL.pdb
DAL/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
DAL/obj/Debug/DAL.csproj.AssemblyReference.cache
DAL/obj/Debug/DAL.csproj.CoreCompileInputs.cache
DAL/obj/Debug/DAL.csproj.FileListAbsolute.txt
DAL/obj/Debug/DAL.dll
DAL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TelerikMvcApp/bin/BLL.dll
TelerikMvcApp/bin/BLL.pdb
TelerikMvcApp/bin/DAL.dll
TelerikMvcApp/bin/DAL.pdb
